:root {
    --main-title-color: rgb(255, 255, 255);
    --typical-lnh: 1.36;
    --color-logo: #2196F3;
    --color-text-past-two: #000000;
    --color-text: #212121;
    --color-text-past-thre: #757575;
    --color-footer: rgba(255, 255, 255, 0.6);
    --color-icon: #AFB1B8;
    --color-btn: #F5F4FA;
    --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background-color: var(--main-title-color);
    color: var(--color-text-past-thre);
    font-family: 'Roboto', sans-serif;
    margin: 0;
} 